.products {
    background-color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.product {
    background-color: #D34735;
    width: 500px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
}

img {
    height: 250px;
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;

}

.productInfo {
    width: 300px;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productInfo > div > p {
    font-size: 1.5rem;
}
