.products {
    background-color: white;
    padding: 25px;
}

.product {
    background-color: #D34735;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
}

img {
    height: 250px;
}