.header {
    background-color: #AB2918;
    height: 40px;
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    font-weight: 700;    
}

.links {
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding-left: 100px;
    font-weight: 400;
    font-size: 1.5rem;  
}

.mainNav {
    color: black;
    background-color: #ED6B5A;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}
